# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# MLflow tracking directory
mlruns/
MLProject/mlruns/

# Environments & Virtual Environments
.env
.venv
env/
venv/
ENV/

# IDE & Editor files
.vscode/
.idea/
*.swp
*.swo

# OS specific files
.DS_Store
Thumbs.db
